<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}

    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>
    {% include analytics.html %}
<!-- ProgressBar Start -->
	<script type="text/javascript" src="https://rawcdn.githack.com/mburakerman/prognroll/0feda211643153bce2c69de32ea1b39cdc64ffbe/src/prognroll.js"></script> 
	<script type="text/javascript"> 
  	$(function() { 
    		$("body").prognroll({ 
      			height: 5, 
      			color: "#a7d3f9" 
    		}); 
    	$(".content").prognroll({ 
      		custom: true 
    		}); 
  	}); 
  </script>
<!-- ProgressBar End -->
  </body>
</html>
