<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
<!-- ProgressBar Start -->
<!-- 	<script type="text/javascript" src="https://rawcdn.githack.com/mburakerman/prognroll/0feda211643153bce2c69de32ea1b39cdc64ffbe/src/prognroll.js"></script> 
	<script type="text/javascript"> 
  	$(function() { 
    		$("body").prognroll({ 
      			height: 3, 
      			color: "#a7d3f9" 
    		}); 
    		$(".post").prognroll({ 
      			custom: true 
    		}); 
  	}); 
  	</script> -->
<!-- ProgressBar End -->
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}

    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>
    {% include analytics.html %}
<!-- 상단 진행바 시작 -->
<style>
.progress-bar {
    background: linear-gradient(to right, yellow var(--scroll), transparent 0);
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    height: 3px;
    z-index: 9000;
}
</style>

<!-- This is the bar which shows scroll percentage -->
<div class="progress-bar"></div>


<!-- Script used to generate --scroll variable with current scroll percentage value -->
<script>
var element = document.documentElement,
  body = document.body,
  scrollTop = 'scrollTop',
  scrollHeight = 'scrollHeight',
  progress = document.querySelector('.progress-bar'),
  scroll;

document.addEventListener('scroll', function() {
  scroll = (element[scrollTop]||body[scrollTop]) / ((element[scrollHeight]||body[scrollHeight]) - element.clientHeight) * 100;
  progress.style.setProperty('--scroll', scroll + '%');
});
</script>
<!-- 하단 진행바 끝 —>
  </body>
</html>
