---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div>
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>
  <div class="comments">
    {% if page.comments %}
     <!-- 라이브리 시티 설치 코드
      <div id="lv-container" data-id="city" data-uid="MTAyMC81MjI3Ni8yODc1NQ==">
	      <script type="text/javascript">
        (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];

             if (typeof LivereTower === 'function') { return; }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
        })(document, 'script');
	      </script>
      <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
      </div>
      시티 설치 코드 끝 -->
      {% endif %}
  </div>
  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
